.row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
.column-flex {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.root-container {
    margin: 15px;
}